{{!-- Google maps API --}}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW5Lqqx7a84oy9vgiTC4ueDHU7ecjLCLw&callback=getPos" type="text/javascript"></script>
<script src="../public/js/buy.js"></script>

{{!-- Map --}}
<div class="ui one column stackable center aligned page grid" style="width:100%; height:100%;">
   <div class="column twelve wide">
       <div id="map"></div>
   </div>
</div>
{{!-- <div id="map" class="ui center aligned grid"></div>     --}}

<div id="salecards">
  <h4>Find a Sale!</h4>
     <ul style="color:black">
     {{#each sale}}
        {{!-- <li><h2>{{title}}</h2></li>
        <li>{{start_date}}</li>
        <li>{{user_id}}</li>
        <li>{{city}}</li> --}}
        <li>
          <div class="ui card">
            <div class="content">
              <div class="header">{{title}}</div>
              <div class="description">
                <p></p>
              </div>
            </div>
            <div class="extra content">
              <span class="right floated star" data-id={{id}}>
                <i class="like icon addfav"></i>
                Favorite
              </span>
            </div>
          </div>          
        </li>
     {{/each}}
    </ul>     
 </div>
{{!-- Navbar --}}
<div class="ui bottom demo inverted nine item labeled icon sidebar menu overlay visible" style="">
  <a class="item" href="/">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item">
    <i class="mail icon"></i>
    Messages
  </a>
  <a class="item">
    <i class="heart icon"></i>
    Favorites
  </a>
  <a class="item">
    <i class="shop icon"></i>
    My Shop
  </a>
  <a class="item">
    <i class="settings icon"></i>
    Settings
  </a>
</div>