{{!-- Google maps API --}}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW5Lqqx7a84oy9vgiTC4ueDHU7ecjLCLw&callback=getPos"
  type="text/javascript"></script>
<script src="../public/js/buy.js"></script>

<div class="img-background">

</div>
<div class="page-wrapper">

</div>
<div id="content-wrapper">
  {{!-- Map --}}
  <div class="" id="map-wrapper">
    <div id="map"></div>
  </div>
  {{!--
  <div id="map" class="ui center aligned grid"></div> --}}

  <div id="cards-wrapper">
    <ul id="salecards">
      {{#each sale}}
      <li id="{{id}}">
        <div class="ui card">
          <div class="content">
            <div class="header">{{title}}</div>
            <div class="image">

            </div>
            <div class="description">
              <p class="color-white">{{items_desc}}</p>
            </div>
          </div>
          <div class="extra content">
            <span class="right floated star color-white">
              <i class="like icon" id={{id}}></i>
              Favorite
            </span>
            <span class="left floated color-white">{{formatDateDynamic start_date "MMM Do"}} - {{formatDateDynamic end_date "MMM Do"}} | {{formatTime start_time
              "h:mm A"}} - {{formatTime end_time "h:mm A"}}</span>
            {{!-- {{#if sale.weather_cancel}} {{else}}
            <span class="left floated tint" data-id={{id}}>
              <i class="tint icon"></i>
              Open during rain
            </span>
            {{/if}} --}}
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>

{{!-- Navbar --}}
<div class="ui bottom demo inverted nine item labeled icon sidebar menu overlay visible" style="">
  <a class="item" href="/">
    <i class="home icon"></i>
    Home
  </a> 
  <a class="item" href="#">
    <i class="mail icon"></i>
    Messages
    <img id="soon" src="../public/img/Coming-Soon.png">
  </a>
  <a class="item" href="#">
    <i class="road icon"></i>
    Routes
    <img id="soon" src="../public/img/Coming-Soon.png">
  </a>
  <a class="item" href="/manage">
    <i class="shop icon"></i>
    My Sales
  </a>
  <a class="item" href="/login">
    <i class="user icon"></i>
    Log In
  </a>
</div>
<h1 id="logo">
  YardPicker
  <span><i>Yard Sales Made Easy!</i></span>
</h1>