<script src="../../public/js/editsale.js"></script>

<div class="">
  <h4>Let's edit this sale!</h4>
</div>

<form class="ui form">

  <div class="field">
    <label>Title</label>
    <input id="title" placeholder="{{sale.title}}" type="text">
  </div>
  <br>
  <div class="field">
    <label>Sale Type</label>
    <select class="ui fluid dropdown" id="sale_type" required>
      <option value="{{sale.sale_type}}">{{sale.sale_type}}</option>
      <option value="yard_sale">Yard Sale</option>
      <option value="estate_sale">Estate Sale</option>
      <option value="auction">Auction</option>
    </select>
  </div>
  <br/>
  <h3>Start & End Dates</h3>
  <div class="two fields">
    <div class="field">
      <label>Start date</label>
      <div class="ui calendar">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input id="rangestart" type="text" placeholder="{{formatDate sale.start_date}}">
        </div>
      </div>
    </div>
    <div class="field">
      <label>End date</label>
      <div class="ui calendar">
        <div class="ui input left icon">
          <i class="calendar icon"></i>
          <input id="rangeend" type="text" placeholder="{{formatDate sale.end_date}}">
        </div>
      </div>
    </div>
  </div>
  <h3>Start & End Times</h3>
  <div class="two fields">
    <div class="field">
      <label>Start Time</label>
      <div class="ui calendar">
        <div class="ui input left icon">
          <i class="time icon"></i>
          <input id="startTime" type="text" placeholder="{{sale.start_time}}">
        </div>
      </div>
    </div>
    <div class="field">
      <label>End date</label>
      <div class="ui calendar">
        <div class="ui input left icon">
          <i class="time icon">16:00</i>
          <input id="endTime" type="text" placeholder="{{sale.start_time}}">
        </div>
      </div>
    </div>
  </div>
  <div class="field">
    <label>Description - Items for sale, special notes, etc</label>
    <textarea id="desc">{{sale.items_desc}}</textarea>
  </div>
  <div class="field">
    <label>Address</label>
    <textbox id="address" placeholder="{{sale.address}}">
  </div>
  <div class="field">
    <label>City</label>
    <input id="city" placeholder="{{sale.city}}">
  </div>
  <div class="field">
    <label>State</label>
    <input id="state" placeholder="{{sale.state}}">
  </div>
  <div class="field">
    <label>Zip Code</label>
    <input id="zip" placeholder="{{sale.zip_cd}}">
  </div>
  <h3>Additonal Details</h3>
  <div class="three fields">
    <div class="field">
      <label>Is there street parking available?</label>
      <select class "ui fluid dropdown" id="parking">
        {{#if sale.on_street_parking}}
        <option selected="selected" value="true">Yes</option>
        <option value="false">No</option>
        {{else}}
        <option value="true">Yes</option>
        <option selected="selected" value="false">No</option>
        {{/if}}
      </select>
    </div>
    <div class="field">
      <label>Is it inside, outside, or both?</label>
      <select class "ui fluid dropdown" id="inside_outside">
        <option selected="selected" value="{{sale.inside_outside}}">{{sale.inside_outside}}</option>
        <option selected="selected" value="outside">Outside</option>
        <option value="inside">Inside</option>
        <option value="both">Both</option>
      </select>
    </div>
    <div class="field">
      <label>Will you cancel for rain?</label>
      <select class "ui fluid dropdown" id="weather_cancel">
        {{#if sale.weather_cancel}}
        <option selected="selected" value="true">Yes</option>
        <option value="false">No</option>
        {{else}}
        <option value="true">Yes</option>
        <option selected="selected" value="false">No</option>
        {{/if}}
      </select>
    </div>
  </div>

  <div class="ui submit editsale button" id="{{sale.id}}">Update</div>
  <div class="ui button cancel">Cancel</div>



</form>

