    <script src="../../public/js/manage.js"></script>




<div>
  <button class="addsale_btn" onclick="window.location.href='/sale'">Add a New Sale!</button>
</div>
<table class="ui sortable striped table manage">
  <thead>
     
    <tr>
      <th class="">Title</th>
      <th class="">Sale ID</th>
      <th class="sorted descending">Start Date</th>
      <th class="">End Date</th>
      <th class=""># Going</th>
      <th class=""></th>
      <th class=""></th>
    </tr>
  </thead>
  <tbody>
{{#each sale}} {{#if active}}
      
  <tr>
      <td>{{title}}</td>
      <td class="id">{{id}}</td>
      <td>{{start_date}}</td>
      <td>{{end_date}}</td>
      <td>{{going_count}}</td>
      <td><button class="edit">Edit</button></td>
      <td><button class="delete">Delete</button</td>
    </tr>
 {{/if}}{{/each}}
</table>